{% extends 'artgallery/base.html' %}
{% block content %}



<div>

    <br><br><h2 style="text-align: center" class="display-7">Welcome,{{ user.username }}</h2>
    <h2 style="text-align: center" class="display-5">We are elated to have you as our customer.<br>Place your order here!   </h2>
     <br>
    <hr class="my-2">
    <p>
        <a class="btn btn-warning btn-lg" href="{% url "customisedproduct" %}" role="button">Customised Products</a>
        <a class="btn btn-warning btn-lg" href="http://www.sriartgallery.com/" role="button">Direct Products</a>

    </p>
</div>

{% endblock %}